<input type='search' id='idSearch' ng-model='sterm' ng-change='filterData(sterm)' placeholder='Enter Search Term'/>
<!-- ng-blur="close()" -->
<div ng-if='visible' class="list-group">
    <a href='#' ng-model='selName' ng-class="{active: data.selected}" ng-click='updateSearchTerm(data)'  ng-repeat="data in typeAheadCtrl.results track by $index" class='listdata list-group-item'>
     {{data.value}}
    </a>
</div>

